.lp {
    table {
        td {
            a {
                @include aSetting_nocolor;
            }
            &.date {
                text-align: center;
                color: #666;
                @include screen('mobile') {
                    text-align: left;
                }
            }
            &.num {
                text-align: center;
                color: #666;
                @include screen('mobile') {
                    text-align: left;
                }
            }
        }
    }
    .list {
        &>ul, ol {
            list-style-type: none;
            padding: 0;
            border-top: 2px solid $primaryColor;
            &>li {
                padding: 1em 0;
                border-bottom: 1px solid #DDD;
                position: relative; // outline: 1px solid blue;
                .tag {
                    margin-left: 2em;
                }
                &>a {
                    display: block;
                    padding-left: 2em;
                    position: relative;
                    line-height: 1.45em;
                    color: $color-word;
                    &:hover {
                        color: $aHover;
                    }
                    .num {
                        width: 1.5em;
                        text-align: right;
                        position: absolute;
                        top: 0;
                        left: 0;
                        &:after {
                            content: ".";
                            display: inline-block;
                        }
                    }
                }
                span.dept {
                    display: inline-block;
                    font-size: .938em;
                    @include screen("mobile") {
                        display: block;
                    }
                }
                time {
                    display: block;
                    color: #AAA;
                    font-size: .938em;
                }
            }
        }
    }
}
// .album {
//     margin: 1em auto;
//     ul {
//         @include li-reset;
//         li {
//             @include make_col(3, 1);
//             overflow: visible;
//             .thumbnail {
//                 width: 100%;
//                 max-width: 90%;
//                 margin: 0 auto 1em;
//             }
//         }
//     }
// }

.flex_lp{
    .album{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: stretch;
        padding: 2em 0 0;

        .thumbnail{
            flex: 1 1 0;
            flex-basis: calc(100% / 3 - 1em);
            margin: 0 .5em 1.5em;
            max-width: calc(100% / 3 - 1em);
            box-shadow: none;

            border-radius: 3px;
            overflow: hidden;

            box-shadow: 0 0 1.25em -.75em rgba(0,0,0,0.5);
            background: #FFF;
            transition: box-shadow .6s ease;

            a{ height: 100%; }

            &:hover{
                box-shadow: 0 0 3em -1em rgba(0,0,0,0.5);
                transition: box-shadow .6s ease;
            }
            .img-container{
                // background: url(../images/img-default-bg.svg) 50% 50% no-repeat, #e8e8e8;
                // background-size: 180px 180px;
                // background: url(../images/img-default-bg.jpg) 50% 50% no-repeat;
                // background-size: cover;
                // background: #e8e8e8;

                img{
                    width: auto !important;
                    height: auto !important;
                    max-width: 100% !important;
                    max-height: 100% !important;
                }
            }
            .caption{
                text-align: left;
                width: 100%;
                padding: 1em;
                // background: #eee;

                time{}
                h3{ margin: .4em 0; }
                p{ margin-top: .5em; }
                h3, p{
                    overflow: hidden;
                    text-overflow: -o-ellipsis-lastline;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                }
            }
        }

        // 圖文瀏覽
        &.GRID{
            display: block;
            .thumbnail{
                max-width: 100%;
                a{
                    display: block;
                    @include clearfix;
                }
                .img-container, .caption{
                    // flex: 1 1 0;
                    float: left;
                }

                .img-container{
                    width: 25%;
                    margin-bottom: 0;
                }
                .caption{
                    width: 75%;
                }
            }
        }

        @include screen('mobile') {
            .thumbnail{
                flex: 1 1 100%;
                max-width: 100%;
                margin-bottom: 2em;

                .caption{
                    padding: 2em 1.25em;
                }
            }

            // 圖文瀏覽
            &.GRID{
                .thumbnail{
                    .img-container, .caption{
                        float: none;
                        width: 100%;
                    }
                }
            }
        }
    }
}

.read_mode{
    @include li-reset;
    text-align: right;

    li{
        display: inline-block;
        width: 42px;
        height: 42px;
        color: #fff;
        font-size: 0;

        &:hover{
            cursor: pointer;
        }
    }

    .Grid, .List{
        &.active{}
    }

    .Grid{
        background: url(../images/icon/icon_grid.svg) 50% 50% no-repeat;
        &.active{
            background: url(../images/icon/icon_grid_white.svg) 50% 50% no-repeat, $primaryColor;
        }
    }
    .List{
        background: url(../images/icon/icon_list.svg) 50% 50% no-repeat;
        &.active{
            background: url(../images/icon/icon_list_white.svg) 50% 50% no-repeat, $primaryColor;
        }
    }

    @include screen('mobile'){
        display: none;
    }
}







